
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CourseSelect</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>CourseSelect</h1>
        <p>用户注册验证</p>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <div class="am-form-group am-form-file">
                <button type="button" id="upBtn" class="am-btn am-btn-secondary am-btn-block">
                    <i class="am-icon-cloud-upload"></i> 请上传校园卡照片</button>
                <input id="doc-form-file" type="file">
            </div>
            <div id="file-list"></div>
            <div class="am-cf">
                <button name="" class="am-btn am-btn-primary am-btn-block" onclick="base64_uploading()">验 证</button>
            </div>
        <hr>
    </div>
</div>
<script>
    var base64;
    $('#doc-form-file').change(function (){
        var fileNames = '';
        $.each(this.files, function() {
            fileNames += '<span class="am-badge">' + this.name + '</span> ';
        });
        $('#file-list').html(fileNames);
        var file = this.files[0];
        if( file.size > 5*1024*1024 ){
            alert( "你上传的文件太大了！" )
        }
        var reader=new FileReader();
        reader.onload = function(){
            base64 = reader.result;
        }
        reader.readAsDataURL(file);

    });


    //AJAX上传base64
    function base64_uploading(){
        $.ajax({
            type: 'POST',
            url: "/users/mobileUpload",
            data: {
                'base64': base64,
                'uuid': '<%= @uuid %>'
            },
            dataType: 'json',
            timeout: 10000,
            beforeSend: function(xhr) {  
        xhr.setRequestHeader("X-CSRF-Token", $("meta[name=\"csrf-token\"]").attr("content"));  
    },
            success: function(data){
                $(location).attr('href', '/users/mobileSuccess');
             },
            error: function(xhr, type){
                alert(type);
            }
        });

    }
</script>

</body>
</html>