<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    <p class="text-center">中国科学院大学(何孝霆，刘攀，张咪) © 2018 <a href="https://github.com/xiaotinghe/CourseSelect">https://github.com/xiaotinghe/CourseSelect</a></p>
   
  </footer>
</div>
